@import '../../../styles/settings.scss';

.product {
  margin: 10px;
  width: 360px;
  height: 500px;

  a {
    text-decoration: none;

    .photo {
      height: 400px;
    }

    .content {
      .name {
        color: $font-color-main;
      }
      .price {
        color: $brand-color;
      }
    }
  }
}
