@import '../../../styles/settings.scss';

.cart {
  position: relative;
  margin: 10px 0;
  .input {
    margin: 10px 0;
    width: 100%;
  }
  .amount {
    margin: 10px 0;
  }
  .price {
    margin: 10px 0 -10px 0;
    // line-height: 20px;
  }
  .trash {
    position: absolute;
    width: 10px;
    right: 17px;
    bottom: 10px;
  }
}
