@import '../../../styles/settings.scss';

.link a {
  text-decoration: none;
  color: $font-color-main;
}

.logo {
  color: $font-color-main;
}

.badge {
  color: $font-color-main;
}

.menu {
  header {
    box-shadow: none;
  }

  .toolbar {
    background: $light-color;
  }
}

.drawer {
  width: 50vh;
  padding: 10px;
}

.summary {
  text-align: center;
  a {
    color: $brand-color;
    text-decoration: none;
  }
}
